.container {
    height: 700px;
    margin: auto;
    text-align: center;
    background-color: darkslategray;
    
  }
  
  .dice {
    float: left;
    width: 50%;
    padding-top: 100px;
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    padding-top: 50px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 30%;
    height: 30%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  .image1{
    height: 100px;
  }  